nav {
  display: flex;
  flex-wrap: flex;
  flex: 1;
  align-items: center;
  justify-content: space-around;
  border: 5px black;
  background-color: light gray;
}



nav p {
  border: 5px black;
  background-color: light gray;
}
