h4 {
    color:crimson;
    border: 17px dashed green;
}
main {
    border: 10px dotted blue;
}
nav {
    border: 3px solid brown;
}
h1 {
    color:purple;
    border: 1px solid yellow;
    background-color: coral;
}
body {
    background-color: pink;
}
